@font-face{
    font-family:"Museo W01_500";
    src:url("fonts/905282/3a1a59f5-1f68-4ebd-84ad-a9048fe78e39.eot?#iefix");
    src:url("fonts/905282/3a1a59f5-1f68-4ebd-84ad-a9048fe78e39.eot?#iefix") format("eot"),url("fonts/905282/52be0694-00c1-4daa-8782-419021c48e95.woff2") format("woff2"),url("fonts/905282/dee84039-06ae-4a61-89c4-709e594804a3.woff") format("woff"),url("fonts/905282/9547becc-44c3-4b00-8568-8d3debb4d299.ttf") format("truetype");
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#indexlink {
    text-align: center;
    font-family: 'Museo W01_500';
    font-size: 12px;
    color: lightgray;
    text-decoration: none;
    margin: 10px auto;
    display:block;
}

#page_title {
    text-align: center;
    font-family: 'Museo W01_500';
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#subtitle {
    text-align: center;
    font-family: 'Museo W01_500';
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: gray;
}

#subtext {
    display:inline-block;
    width: 50%;
    text-align: center;
    font-family: 'Museo W01_500';
    font-size: 18px;
    line-height: 1.7;
    color: gray;
}

#page_date {
    text-align: center;
    font-family: 'Museo W01_500';
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: darkgray;
}

.banner_img {
    display: block;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.text {
    font-family: 'Museo W01_500';
    font-size: 18px;
    line-height: 1.7;
}

.thinc {
    width: 80px;
}

ul,ol {
    font-family: 'Museo W01_500';
}

li {
    line-height: 1.5;
}

tr {
    font-family: 'Museo W01_500';
}

td {
    text-align: center;
}

td b {
    /* color: darkblue; */
    background-color: lightblue;
    font-weight: normal;
}

.series-header {
    font-family: 'Museo W01_500';
    font-size: 18px;
    font-style: italic;
    line-height: 1.7;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: lightgray;
}

.series-header a{
    color: lightgray;
}

.link {
    font-family: 'Museo W01_500';
    color: gray;
    font-size: 18px;
    line-height: 1.7;
    font-style: italic;
}

.ref_link {
    font-family: 'Museo W01_500';
    color: gray;
    font-size: 18px;
    line-height: 1.7;
    text-decoration: none;
}

.chapter, h2 {
    margin-left: 50px;
    font-family: 'Museo W01_500';
    font-size: 30px;
    font-variant: small-caps;
    line-height: 1.0;
}

.section, h3 {
    margin-left: 20px;
    font-family: 'Museo W01_500';
    font-size: 22px;
    font-style: italic;
    line-height: 1.0;
}

.center_block {
    text-align: center;
}

.image_two {
    display:inline-block;
    width:40%;
}
.image_two_big {
    display:inline-block;
    width:48%;
}

.image_tiny {
    display:inline-block;
    width:20%;
}
.image_smaller {
    display:inline-block;
    width:30%;
}
.image_small {
    display:inline-block;
    width:50%;
}
.image_normal {
    display:inline-block;
    width:65%;
}
.image_big {
    display:inline-block;
    width:80%;
}

.image_bigger {
    display:inline-block;
    width:90%;
}

.image_tall_smaller {
    display:inline-block;
    width: min(90%,200px);
}
.image_tall_small {
    display:inline-block;
    width: min(90%,300px);
}
.image_tall_normal {
    display:inline-block;
    width: min(95%,400px);
}
.image_tall_big {
    display:inline-block;
    width: min(98%,500px);
}
.image_tall_bigger {
    display:inline-block;
    width: min(98%,600px);
}

.video {
    width: 560px;
    height: 315px;
}

.caption {
    font-family: 'Museo W01_500';
    font-size: 12px;
    color: darkgray;
    margin-top: 0px;
}

.iconlabel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
}

.iconlabel img {
    display: block;
    width:60px;
}

.iconlabel p, .iconlabel a {
    margin-left: 10px;
}

.two-columns {
    column-count: 2;
}

table {
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    #content {
        width: 70%;
    }
}
@media only screen and (max-width: 900px) {
    #content {
        width: 80%;
    }
    .image_two {
        width:45%;
    }
    .image_two_big {
        width:70%;
    }

    .image_tiny {
        width:25%;
    }
    .image_smaller {
        width:40%;
    }
    .image_small {
        width:70%;
    }
    .image_normal {
        display:inline-block;
        width:85%;
    }
    .image_big {
        width:90%;
    }
    .image_bigger {
        width:95%;
    }

    .video {
        width: 480px;
        height: 270px;
    }

    ul {
        padding-left: 30px;
    }

    .two-columns {
        width:90%;
    }

    #subtext {
        width: 70%;
    }
}
@media only screen and (max-width: 600px) {
    #page_title {
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #subtitle {
        font-size: 28px;
        margin-top: 18px;
        margin-bottom: 15px;
    }

    #content {
        width: 90%;
    }
    .image_two {
        width:48%;
    }
    .image_two_big {
        width:90%;
    }

    .image_tiny {
        width:35%;
    }
    .image_smaller {
        width:50%;
    }
    .image_small {
        width:90%;
    }
    .image_normal {
        display:inline-block;
        width:95%;
    }
    .image_big {
        width:95%;
    }
    .image_bigger {
        width:98%;
    }

    .video {
        width: 300px;
        height: 169px;
    }

    .text {
        line-height: 1.6;
    }

    ul {
        padding-left: 20px;
    }

    .two-columns {
        width:95%;
        font-size: 16px;
    }

    video {
        width: 100%;
    }

    #subtext {
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }
}

pre.code,
code {
    background-color: #EEE;
    border-radius: 4px;
    padding: 0 5px;
    white-space: pre-wrap;
    font-weight: bold;
}
pre.code {
    margin-left: 60px;
    padding: 0 30px;
    max-width: max-content;
}
code>.keyword { color: MediumOrchid; }
code>.module { color: DarkCyan; }
code>.type { color: SteelBlue; }
code>.number { color: DarkGoldenRod; }
code>.preprocessor { color: OliveDrab; }
code>.comment { color: gray; }

.light_visible {
    display: block;
}
.dark_visible {
    display: none;
}
@media (prefers-color-scheme: dark) {
    .light_visible {
        display: none;
    }
    .dark_visible {
        display: block;
    }

    pre.code,
    code {
        background-color: #222;
    }

    html, body {
        background-color: #000000;
        color: #ffffff;
    }

    .banner_img {
        box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.1), 0 6px 20px 0 rgba(255,255,255, 0.1);
        background-blend-mode: screen;
        background-color: rgba(255, 255, 255, 0.12);
    }

    .dark_invert {
        filter: invert(1) hue-rotate(180deg);
    }

    .dark_invert_lite {
        filter: invert(0.9) hue-rotate(180deg);
    }

    .dark_invert_brighter {
        filter: invert(1) hue-rotate(180deg) brightness(1.5);
    }

    #indexlink {
        color: gray;
    }
    #subtitle {
        color: darkgray;
    }
    #subtext {
        color: darkgray;
    }
    #page_date {
        color: gray;
    }
    .series-header {
        color: gray;
    }
    .series-header a{
        color: gray;
    }
    .link {
        color: darkgray;
    }
    .ref_link {
        color: darkgray;
    }
    .caption {
        color: gray;
    }

}
@media only screen and (max-width: 600px) {
    pre.code {
        margin-left: 16px;
        padding: 0 30px;
        max-width: max-content;
    }
}