
th:not(:last-child), td:not(:last-child) { padding-right: 15px; }
th, td { white-space: nowrap; }
table { width: 100%; overflow-x: auto; display: block; }
tbody { display: table; width: max-content; }
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
  margin-block-start: 3.2em;
  margin-block-end:   0.8em;
}
h3 {
  font-size: 1.2em;
  margin-block-start: 1.6em;
  margin-block-end:   0.4em;
}
body { color: #333; font-family: 'Roboto', sans-serif; }
a {text-decoration: underline dotted; color: #333}
b { color: #888; font-style: normal; }
.audio {cursor: pointer;}
.center { text-align: center; }
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #CCC;
  }
  b {
    color: white;
  }
}
.sk {
  color: hsl(0, 45%, 65%);
  @media (prefers-color-scheme: dark) {
    color: hsl(0, 40%, 55%);
  }
  font-weight: 500;
  b {
    color: hsl(0, 40%, 55%);
    @media (prefers-color-scheme: dark) {
      color: hsl(0, 45%, 65%);
    }
    font-weight: 900;
    font-style: normal;
  }
  i {
    color: hsl(0, 45%, 65%);
    @media (prefers-color-scheme: dark) {
      color: hsl(0, 40%, 55%);
    }
    font-weight: 100;
    font-style: normal;
  }
}
.fr , .xx {
  color: hsl(220, 45%, 65%);
  @media (prefers-color-scheme: dark) {
    color: hsl(220, 40%, 55%);
  }
  b {
    color: hsl(220, 40%, 55%);
    @media (prefers-color-scheme: dark) {
      color: hsl(220, 45%, 65%);
    }
    font-weight: bold;
    font-style: normal;
  }
  i {
    color: hsl(220, 45%, 65%);
    @media (prefers-color-scheme: dark) {
      color: hsl(220, 40%, 55%);
    }
    font-weight: 100;
    font-style: normal;
  }
}